.App {
  background-color: #FF6F3D;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container-form form{
  height: 100px;
  width: 100%;
}

input {
  padding: 15px;
  width: 80%;
  margin: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #2a2a2a;
  color: #F9F9F9;
}

input::placeholder {
  color: #F9F9F9;
}

button {
  border-radius: 10px;
  padding: 15px;
  width: 120px;
  border: none;
  cursor: pointer;
  background-color: #2a2a2a;
  color: #F9F9F9;
}

.prompt-boxes {
  background-color: #F9F9F9;
  border: 4px solid #2a2a2a;
  border-radius: 10px;
  height: 90%;
  margin: 0 auto;
  width: 80%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #2a2a2a;
}

.titleStud {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #f0f0f0;
}

.titleStud span {
  color: #2a2a2a;
}

.container-form {
  background-color: #F9F9F9;
  border: 4px solid #2a2a2a;
  border-radius: 10px;
  height: 90%;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start; 
  padding: 20px;
  color: #2a2a2a;
  overflow-y: hidden;
}

.title {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.title h2 {
  width: 35ch;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typing 2s steps(20);
}

.prompt-box {
  border: 3px solid #2a2a2a;
  border-radius: 5px;
  padding: 6px 15px 6px 15px;
  font-size: 18px;
  transition: .3s;
}

.prompt-box:hover {
  background-color: #2a2a2a;
  color: #F9F9F9;
  transition: .3s;
}

.containerBox {
  display: flex;
  margin-left: 20px;
  gap: 20px;
  cursor: pointer;
}

.conversation-item div{
  border: 3px solid #2a2a2a;
  /* margin-top: 10px; */
  border-radius: 7px;
  padding: 10px;
}

.conversations {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  height: calc(100% - 90px); 
  width: 100%; 
  overflow-y: auto; 
  padding-bottom: 10px;
}

.conversations::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

.conversations::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 10px; 
}

.conversations::-webkit-scrollbar-thumb {
  background-color: #FF6F3D; 
  border-radius: 10px; 
  border: 2px solid #f0f0f0;
}

.conversations::-webkit-scrollbar-corner {
  background-color: #FF6F3D;
}

@keyframes typing {
  from {
    width: 0ch;
  }
}

@keyframes bar {
  from {
    opacity: 0;
  }
}

@media (min-width: 1150px) and (max-width: 1500px) {
  .title h2 {
    font-size: 40px;
    width: 35ch;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20);
  }
  
}

@media (min-width: 770px) and (max-width: 1150px) {
  .title h2 {
    font-size: 25px;
  }

  .prompt-box {
    padding: 6px 15px 6px 15px;
    font-size: 13px;
  }
}

@media (min-width: 620px) and (max-width: 768px) {
  .title h2 {
    font-size: 20px;
  }

  .prompt-box {
    padding: 6px 15px 6px 15px;
    font-size: 14px;
    text-align: center;
  }

  .containerBox {
    flex-direction: column;
  }
}

@media (max-width: 620px)  {

  .title h2 {
    font-size: 0.8rem;
    animation: none;
    margin-right: 10px;
  }

  .prompt-box {
    padding: 6px 15px 6px 15px;
    font-size: 12px;
    text-align: center;
  }

  .containerBox {
    flex-direction: column;
  }


  .conversations {
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: calc(100% - 90px); 
    width: 100%; 
    margin-top: 20px;
    overflow-y: auto; 
    padding-bottom: 10px;
  }
  
  input {
    padding: 15px;
    width: 60%;
    margin: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #2a2a2a;
    color: #F9F9F9;
  }
  
  button {
    border-radius: 10px;
    padding: 15px;
    width: 80px;
    border: none;
    cursor: pointer;
    background-color: #2a2a2a;
    color: #F9F9F9;
  }

  .container-form {
    margin-top: 20px;
  }

  .prompt-boxes {
    margin-top: 20px;
  }
}